futuquant
tushare
vnpy
tornado
pandas
numpy
matplotlib
psutil
pymongo
mysqlclient
protobuf
pyecharts
python3-gearman
apscheduler
sqlalchemy
pymysql

requests
beautifulsoup4
selenium
python3-xlib
lxml
chardet
ConfigParser
